{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if layout.common-js %}
  {% for js in layout.common-js %}
    <!-- doing something a bit funky here because I want to be careful not to include JQuery twice! -->
    {% if js contains 'jquery' %}
      <script>
        if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}

{% if site.site-js %}
  {% for js in site.site-js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}

<script>
  var PUBLISHABLE_KEY = 'pk_test_51KoWpmF1bxnTbGQ8rUXCaBMRBLqOMxKnck76tePPBf7LCum65BtCFgyNgIyUTa8hfkt1nyaO2lS69QoIdOahp87S00AhXm9Or5';
  
  // Replace with the domain you want your users to be redirected back to after payment
  var DOMAIN = location.href.replace(/\/+$/, '');
  var stripe = Stripe(PUBLISHABLE_KEY);

  // Handle any errors from Checkout
  var handleResult = function (result) {
    if (result.error) {
      var displayError = document.getElementById('error-message');
      displayError.textContent = result.error.message;
    }
  };

  document.querySelectorAll('button').forEach(function (button) {
    button.addEventListener('click', function (e) {
      this.disabled = true;
      var mode = e.target.dataset.checkoutMode;
      var priceId = e.target.dataset.priceId;
      var items = [{ price: priceId, quantity: 1 }];

      // Make the call to Stripe.js to redirect to the checkout page
      // with the sku or plan ID.
      stripe
        .redirectToCheckout({
          mode: mode,
          lineItems: items,
          successUrl:
            DOMAIN + '_' + priceId + '?session_id={CHECKOUT_SESSION_ID}',
          cancelUrl:
            DOMAIN + '_canceled?session_id={CHECKOUT_SESSION_ID}',
        })
        .then(handleResult);
    });
  });
</script>